Repository isweluiz/ansible-in-docker-action, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, readme, ansible-docker-image, action

RELEASE-1.0.0
  .github/utils/pyversion_check
Labels: none

RELEASE-1.0.0
  .github/workflows/00.pr_label.yml
  .github/workflows/00.pr_title_check.yml
  ansible-docker-image/Dockerfile
Labels: workflows, ansible-docker-image

RELEASE-1.0.0
  .github/workflows/00.docker_build.yml
  README.md
Labels: workflows, readme

RELEASE-1.0.0
  .github/workflows/00.docker_build.yml
  README.md
Labels: workflows, readme

RELEASE-1.0.0
  README.md
Labels: readme

RELEASE-1.0.0
  .github/workflows/00.docker_build.yml
Labels: workflows

RELEASE-1.0.0
  README.md
  ansible-docker-image/README.md
Labels: readme, ansible-docker-image

RELEASE-1.0.0us
  .github/workflows/00.docker_build.yml
Labels: workflows

RELEASE-1.0.0us
  Dockerfile
Labels: action

.github/labeler.yml:

workflows:
  - '.github/workflows/**/*'

readme:
  - 'README.md'

ansible-docker-image:
  - 'ansible-docker-image/**/*'

action:
  - 'Dockerfile'
